<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div th:replace="menu">Menu</div>

<h2>All authors</h2>

<div class="block">
    <a th:href="@{/author/add}" href="author-add.html">Add author</a>
</div>

<div class="block" th:if="!${authors.isEmpty()}">
    <table class="block-content">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.name}">Author</td>
            <td>
                <a th:href="@{/author/edit(id=${author.id})}" href="author-edit.html">Edit</a> |
                <a th:href="@{/author/delete(id=${author.id})}" href="author-list.html">Delete</a> |
                <a th:href="@{/book(authorID=${author.id})}" href="book-list.html">Books</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="block" th:if="${authors.isEmpty()}">No authors</div>

</body>
</html>
