<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add genre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<h1>
    <a th:href="@{/book}" href="book-list.html">Books</a> |
    <a th:href="@{/genre}" href="genre-list.html">Genres</a> |
    <a th:href="@{/author}" href="author-list.html">Authors</a>
</h1>

<h2>Unexpected error</h2>

<div class="block" th:text="${message}">Error message</div>

</body>
</html>