<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add genre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<h2>
    <a th:href="@{/genre}" href="genre-list.html">Genres</a> >
    Add genre
</h2>

<div class="block">
    <form class="block-content" action="#" method="post"
          th:action="@{/genre/add}" th:object="${genre}">
        <div class="row">
            <label for="name-input">Name:</label>
            <input id="name-input" type="text" th:field="${genre.name}"/>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="${genre.name}">Error</div>
        </div>
        <div class="row">
            <button type="submit">Save</button>
        </div>
    </form>
</div>

</body>
</html>
