body {
    padding: 10px;
}

.block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-content {
    border: 1px solid lightgray;
    padding: 10px;
    display: inline-block;
}
.block-content td {
    border-top: 1px solid lightgray;
    padding: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input:read-only {
    background: lightgray;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.row {
    margin-top: 10px;
}

.error {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}
